.button {
    cursor:pointer;
    position: absolute;
	display:inline-block;
    width: 304px;
    height: 64px;
    right: 24px;
    top: 8px;
	border: 4px solid #E50072;
	border-radius: 20px;
	background-color: transparent;
	color:#E50072;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight: bolder;
	text-decoration:none;
}
.button:hover, button:focus {
	background-color:#E50072;
    color: white;
}
